
<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/PJToews">Pei Jean Toews</a>. Currently, she is enrolled in the Coding Boot Camp at the University of Toronto School of Continuing Studies. In the future she would like to combine her graphic design skills with web development.
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'peijean.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Pei Jean Toews</h2>
      <br />
      <p>
        Pei Jean is a graphic design freelancer. She designed the marketing materials for companies like <a target="_blank" href="http://www.mosaicnet.ca/">Mosaic Newcomer Family Resource Network </a>, helping them serve more newcomers.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br/>
  <br/>
  <br/>
  <br/>


</div>
